@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.app {
    height: 100vh;
    width: 100vw;
}

header {
    height: 70px;
    text-align: left;
}

h1 {
    font-size: 40px;
    font-family: 'Zen Tokyo Zoo', cursive;
    margin-left: 20px;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.container > p {
    margin-top: 20px;
    color: #000;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

button {
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: 2px solid #333;
}

.active {
    background: #333;
    color: #fff;
}

.books {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.box {
    width: 500px;
    height: 75px;
    border: 1px solid #777;
    border-radius: 20px;
    padding: 10px 20px;
}

h3 {
    color: #333;
}

.box > p {
    font-size: 14px;
}